<div class="section-info-page-quick">
  <div class="section-header">
    <div class="logo-header-page">
      <a href="">
        <img
          src="assets\icons\HazlooRapido\iconohazloorapidosobreverde_1.svg"
          class="icon-info-page-first"
      /></a>
      <a href=""
        ><img
          src="assets\icons\HazlooRapido\Logohazloorapidosobreverde_1.svg"
          class="icon-info-page-two"
      /></a>
    </div>
  </div>

  <div class="container initial-info">
    <div class="row information">
      <div class="col title">
        <h3>Genera contenido</h3>
        <p>En alta calidad, poco tiempo y bajo costo</p>
        <div class="button-info-container">
          <button class="btn btn-call-to-action quick">Hazloo</button>
        </div>
      </div>

      <div class="col information-content">
        <div class="initial-images">
          <img src="https://picsum.photos/500/300" class="img-bottom" />
        </div>
      </div>
    </div>
  </div>

  <div class="services-quick">
    <div class="logo-quick">
      <img
        src="assets\icons\HazlooRapido\iconohazloorapidosobreverde_1.svg"
        class="icon-quick"
      />
    </div>
    <div class="content-services-quick">
      <h2 class="title">Servicios</h2>
      <p class="content">
        Implementamos una metodología de trabajo ágil para que creativos
        audiovisuales de diferentes países colaboren contigo y produzcan
        contenido de corta duración
      </p>
    </div>
  </div>

  <div class="container information-main">
    <div class="row">
      <div class="col">
        <div class="article-content">
          <h3>Crea vídeos</h3>
          <p>
            Tú escoges una referencia, nosotros lo grabamos y editamos para ti.
          </p>
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>
      <div class="col">
        <div class="article-images">
          <img
            src="https://picsum.photos/500/250"
            alt=""
            class="article-image"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="article-images">
          <img
            src="https://picsum.photos/500/250"
            alt=""
            class="article-image"
          />
        </div>
      </div>
      <div class="col">
        <div class="article-content">
          <h3>Edita</h3>
          <p>Envía tus imágenes y te devolvemos un video fantástico.</p>
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="article-content">
          <h3>Ilustra</h3>
          <p>
            Permite que nuestros artistas gráficos adapten sus mejores diseños a
            tus necesidades.
          </p>
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>
      <div class="col">
        <div class="article-images">
          <img
            src="https://picsum.photos/500/250"
            alt=""
            class="article-image"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="article-images">
          <img
            src="https://picsum.photos/500/250"
            alt=""
            class="article-image"
          />
        </div>
      </div>
      <div class="col">
        <div class="article-content">
          <h3>Anima</h3>
          <p>
            Un experto en animación convierte tus datos o ideas en mágicos
            videos de otra dimensión.
          </p>
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="article-content">
          <h3>¿Qué tal un tutorial?</h3>
          <p>
            Confía en nuestros realizadores para convertir tu procedimiento en
            un video corto, claro y de calidad.
          </p>
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>
      <div class="col">
        <div class="article-images">
          <img
            src="https://picsum.photos/500/250"
            alt=""
            class="article-image"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="final-message">
    <div class="logo">
      <img
        src="assets\icons\Hazlooquickos\Composicion hazloo quickos_1.svg"
        alt=""
        class="logo-hazloo-quicks"
      />
    </div>
    <div class="content-message">
      <h4>
        Puedes consultar o adquirir cada servicio por separado o recibir todo
        nuestros apoyo
      </h4>
    </div>
  </div>

  <div class="container informative">
    <div class="row informative">
      <div class="col informative">
        <div class="icon-div">
          <img src="https://picsum.photos/120/120" class="icon" />
        </div>
        <div class="title">
          <h4>Antes del quicko</h4>
        </div>
        <div class="content">
          <p>
            Dedique menos tiempo a hacer gráficos y más tiempo a hacer crecer su
            negocio, construir relaciones en las redes sociales y crear
            contenido.
          </p>
        </div>
      </div>
      <div class="col informative">
        <div class="icon-div">
          <img src="https://picsum.photos/120/120" class="icon" />
        </div>
        <div class="title">
          <h4>Durante el quicko</h4>
        </div>
        <div class="content">
          <p>
            Diseña como un profesional sin ver largos tutoriales en video, leer
            publicaciones prácticas o ser un diseñador gráfico.
          </p>
        </div>
      </div>
      <div class="col informative">
        <div class="icon-div">
          <img src="https://picsum.photos/120/120" class="icon" />
        </div>
        <div class="title">
          <h4>Luego del quicko</h4>
        </div>
        <div class="content">
          <p>
            Todos los gráficos incluidos son exclusivas de hazloo y están 100%
            libres de regalías y con licencia para uso comercial.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div><app-footer></app-footer></div>
</div>
