<div class="section-info-page-quick">
  <div class="section-header">
    <div class="logo-header-page">
      <a href="">
        <img
          src="assets\icons\HazlooRapido\iconohazloorapidosobreverde_1.svg"
          class="icon-info-page-first"
      /></a>
      <a href=""
        ><img
          src="assets\icons\HazlooRapido\Logohazloorapidosobreverde_1.svg"
          class="icon-info-page-two"
      /></a>
    </div>
  </div>

  <div class="initial-info">
    <div class="information">
      <div class="title">
        <h3 class="title-h3">Genera contenido</h3>
      </div>
      <div class="information-content">
        <div class="content">
          <p>En alta calidad, poco tiempo y bajo costo</p>
        </div>
        <div class="button-info-container">
          <button class="btn btn-call-to-action quick">Hazloo</button>
        </div>
      </div>
    </div>
    <div class="initial-images">
      <img src="http://via.placeholder.com/500x300" class="img-bottom" />
    </div>
  </div>

  <div class="services-quick">
    <div class="logo-quick">
      <img
        src="assets\icons\HazlooRapido\iconohazloorapidosobreverde_1.svg"
        class="icon-quick"
      />
    </div>
    <div class="content-services-quick">
      <h2 class="title">Servicios</h2>
      <p class="content">
        Implementamos una metodología de trabajo ágil para que creativos
        audiovisuales de diferentes países colaboren contigo y produzcan
        contenido de corta duración
      </p>
    </div>
  </div>

  <div class="services-information">
    <div class="articles-information">
      <div class="articles-content">
        <div class="article-title">
          <h3>Crea vídeos</h3>
        </div>
        <div class="article-content-paragraph">
          <p>
            Tú escoges una referencia, nosotros lo grabamos y editamos para ti.
          </p>
        </div>
        <div class="article-button">
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>

      <div class="article-images">
        <img src="http://via.placeholder.com/500x250" alt="" class="article-image" />
      </div>
    </div>

    <div class="articles-information">
      <div class="article-images">
        <img src="http://via.placeholder.com/500x250" alt="" class="article-image" />
      </div>
      <div class="articles-content">
        <div class="article-title">
          <h3>Edita</h3>
        </div>
        <div class="article-content-paragraph">
          <p>Envía tus imágenes y te devolvemos un video fantástico</p>
        </div>
        <div class="article-button">
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>
    </div>

    <div class="articles-information">
      <div class="articles-content">
        <div class="article-title">
          <h3>Ilustra</h3>
        </div>
        <div class="article-content-paragraph">
          <p>
            Permite que nuestros artistas gráficos adapten sus mejores diseños a
            tus necesidades.
          </p>
        </div>
        <div class="article-button">
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>

      <div class="article-images">
        <img src="http://via.placeholder.com/500x250" alt="" class="article-image" />
      </div>
    </div>

    <div class="articles-information">
      <div class="article-images">
        <img src="http://via.placeholder.com/500x250" alt="" class="article-image" />
      </div>
      <div class="articles-content">
        <div class="article-title">
          <h3>Anima</h3>
        </div>
        <div class="article-content-paragraph">
          <p>
            Un experto en animación convierte tus datos o ideas en mágicos
            videos de otra dimensión.
          </p>
        </div>
        <div class="article-button">
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>
    </div>

    <div class="articles-information">
      <div class="articles-content">
        <div class="article-title">
          <h3>¿Qué tal un tutorial?</h3>
        </div>
        <div class="article-content-paragraph">
          <p>
            Confía en nuestros realizadores para convertir tu procedimiento en
            un video corto, claro y de calidad.
          </p>
        </div>
        <div class="article-button">
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>

      <div class="article-images">
        <img src="http://via.placeholder.com/500x250" alt="" class="article-image" />
      </div>
    </div>
  </div>

  <div class="final-message">
    <div class="logo">
      <img src="http://via.placeholder.com/400x300" alt="" class="video-hazloo-quick" />
    </div>
    <div class="content-message">
      <h3>
        Nuestro experimentado equipo de realizadores audiovisuales está listo
        para adaptar sus mejores proyectos a tus necesidades
      </h3>
    </div>
  </div>

</div>
<div><app-footer></app-footer></div>
