<div class="our-partners">
    <div class="div-partner-title">
      <h3 class="partner-title">Nuestros clientes</h3>
    </div>
    <div class="partner-images">
        <img src="https://picsum.photos/100/100" class="partner-image">
        <img src="https://picsum.photos/100/100" class="partner-image">
        <img src="https://picsum.photos/100/100" class="partner-image">
        <img src="https://picsum.photos/100/100" class="partner-image">
        <img src="https://picsum.photos/100/100" class="partner-image">
        <img src="https://picsum.photos/100/100" class="partner-image">
      </div>
  </div>