<div class="section-info-page-event">
  <div class="section-header">
    <div class="logo-header-page">
      <a href="">
        <img
          src="assets\icons\HazlooEventos\Iconohazlooeventossobreblanco_3.svg"
          class="icon-info-page-first"
      /></a>
      <a href=""
        ><img
          src="assets\icons\HazlooEventos\logohazlooeventossobreblanco_2.svg"
          class="icon-info-page-two"
      /></a>
    </div>
  </div>

  <div class="initial-info">
    <div class="information">
      <div class="title">
        <h3 class="title-h3">
          Si le diste vida a un gran evento
          <span class="paragraph-bg">¡no dejes morir su mensaje!</span>
        </h3>
      </div>
      <div class="information-content">
        <div class="button-info-container">
          <button class="btn btn-call-to-action event">Hazloo</button>
        </div>
      </div>
    </div>
    <div class="initial-images">
      <img src="assets\icons\HazlooEventos\barra.svg" class="icon-top-bar" />
      <img src="https://picsum.photos/500/300" class="img-bottom" />
    </div>
  </div>

  <div class="services-event">
    <div class="logo-event">
      <img
        src="assets\icons\HazlooEventos\Iconohazlooeventossobreblanco_3.svg"
        class="icon-event"
      />
    </div>
    <div class="content-services-event">
      <h2 class="title">Servicios</h2>
      <p class="content">
        Aprovecha el poder de la comunicación para hacer de tus eventos el
        momento perfecto para visibilizar marca, crear identidad y gritar tu
        mensaje. Te acompañamos de principio a fin.
      </p>
    </div>
  </div>

  <div class="container information-main">
    <div class="row">
      <div class="col">
        <div class="article-content">
          <h3>Estrategia de contenido</h3>
          <p>A través de chats en vivo y encuestas, desde la plataforma.</p>
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>
      <div class="col">
        <div class="article-images">
          <img
            src="https://picsum.photos/500/250"
            alt=""
            class="article-image"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="article-images">
          <img
            src="https://picsum.photos/500/250"
            alt=""
            class="article-image"
          />
        </div>
      </div>
      <div class="col">
        <div class="article-content">
          <h3>Estrategia de contenido</h3>
          <p>A través de chats en vivo y encuestas, desde la plataforma.</p>
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="article-content">
          <h3>Estrategia de contenido</h3>
          <p>A través de chats en vivo y encuestas, desde la plataforma.</p>
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>
      <div class="col">
        <div class="article-images">
          <img
            src="https://picsum.photos/500/250"
            alt=""
            class="article-image"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="article-images">
          <img
            src="https://picsum.photos/500/250"
            alt=""
            class="article-image"
          />
        </div>
      </div>
      <div class="col">
        <div class="article-content">
          <h3>Estrategia de contenido</h3>
          <p>A través de chats en vivo y encuestas, desde la plataforma.</p>
          <button class="btn-call-to-action-two">Hazloo</button>
        </div>
      </div>
    </div>
  </div>

  <div class="final-message">
    <div class="logo">
      <img
        src="assets\icons\HazlooEventos\Composicion hazloo eventos_1.svg"
        alt=""
        class="logo-hazloo-events"
      />
    </div>
    <div class="content-message">
      <h3>
        Puedes consultar o adquirir cada servicio por separado o recibir todo
        nuestros apoyo
      </h3>
    </div>
  </div>

  <div class="container informative">
    <div class="row informative">
      <div class="col informative">
        <div class="icon-div">
          <img src="https://picsum.photos/120/120" class="icon" />
        </div>
        <div class="title">
          <h4>Antes del evento</h4>
        </div>
        <div class="content">
          <p>
            Dedique menos tiempo a hacer gráficos y más tiempo a hacer crecer su
            negocio, construir relaciones en las redes sociales y crear
            contenido.
          </p>
        </div>
      </div>
      <div class="col informative">
        <div class="icon-div">
          <img src="https://picsum.photos/120/120" class="icon" />
        </div>
        <div class="title">
          <h4>Durante el evento</h4>
        </div>
        <div class="content">
          <p>
            Diseña como un profesional sin ver largos tutoriales en video, leer
            publicaciones prácticas o ser un diseñador gráfico.
          </p>
        </div>
      </div>
      <div class="col informative">
        <div class="icon-div">
          <img src="https://picsum.photos/120/120" class="icon" />
        </div>
        <div class="title">
          <h4>Luego del evento</h4>
        </div>
        <div class="content">
          <p>
            Todos los gráficos incluidos son exclusivas de hazloo y están 100%
            libres de regalías y con licencia para uso comercial.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div><app-footer></app-footer></div>
</div>
