<nav-bar></nav-bar>
<div class="section-info-main">
  <div class="info-text-primary" data-aos="zoom-in" data-aos-duration="3000">
    <p class="paragraph-info-text-primary">
      Descubre las herramientas de comunicación más poderosas para desarrollar
      proyectos y sacar su máximo potencial.
    </p>
  </div>
  <div class="info-menu-services">
    <ul class="info-menu-services-list">
      <li class="info-menu-services-item">
        <a href=""
          ><img src="\assets\icons\IconoHazlooVideo.svg" class="svg-icon"
        /></a>
      </li>
      <li class="info-menu-services-item">
        <a href=""
          ><img src="\assets\icons\IconoHazlooRapido.svg" class="svg-icon"
        /></a>
      </li>
      <li class="info-menu-services-item">
        <a href=""
          ><img src="\assets\icons\IconoHazlooEventos.svg" class="svg-icon"
        /></a>
      </li>
      <li class="info-menu-services-item">
        <a href=""
          ><img
            src="\assets\icons\IconoHazlooConsultoriaV2.svg"
            class="svg-icon"
        /></a>
      </li>
    </ul>
  </div>
  <div class="info-text-secundary">
    <p class="paragraph-info-text-secundary">
      Este es un ecosistema digital diseñado para acompañar empresas,
      instituciones y personas dispuestas a crear y comunicar.
    </p>
  </div>
</div>

<!-- HAZLOO VIDEO -->
<div class="section-info-page-black">
  <div class="logo-header-page">
    <div class="icon-div">
      <img
        src="\assets\icons\LogoHazlooSobreAzul.svg"
        class="icon-info-page-first"
      />
    </div>
    <div class="icon-div">
      <img
        src="\assets\icons\LogoHazlooVideoSobreNegro.svg"
        class="icon-info-page-two"
      />
    </div>
  </div>

  <div class="section-container">
    <div class="img-container">
      <img src="\assets\images\prueba.png" alt="" class="wallpaper" />
    </div>
    <div class="info-container">
      <p class="paragraph-info-container">
        <span class="paragraph-bg">Crea historias</span> que generen realmente
        emociones y entreguen valor a tu marca.
      </p>
    </div>
    <div class="button-info-container">
      <button class="btn btn-call-to-action">Hazloo</button>
      <button class="btn btn-more-info">Más información</button>
    </div>
  </div>
  <div class="slide-video">
    <app-slide></app-slide>
  </div>
</div>

<!-- HAZLOO EVENTOS  -->
<div class="section-info-page-white h-event">
  <div class="logo-header-page">
    <div class="icon-div">
      <img
        src="assets\icons\HazlooEventos\Iconohazlooeventossobreblanco_3.svg"
        class="icon-info-page-first event"
      />
    </div>
    <div class="icon-div two">
      <img
        src="assets\icons\HazlooEventos\logohazlooeventossobreblanco_2.svg"
        class="icon-info-page-two event"
      />
    </div>
  </div>

  <div class="initial-info">
    <div class="information">
      <div class="title"><h3>Organiza eventos fantásticos</h3></div>
      <div class="information-content">
        <p class="content">
          Con nuestra herramienta aprovecha al máximo las oportunidades de
          comunicación que tienes.
        </p>
      </div>
      <div class="button-info-container two-options">
        <button class="btn btn-call-to-action event">Hazloo</button>
        <button class="btn btn-more-info event">Más información</button>
      </div>
    </div>

    <div class="initial-images">
      <div class="picture">
        <img src="https://picsum.photos/500/300" class="img-bottom" />
      </div>
      <div class="picture-two">
        <img src="https://picsum.photos/400/200" class="img-top" />
      </div>
    </div>
  </div>
  <div class="slide-event">
    <app-slide></app-slide>
  </div>
</div>

<!-- HAZLOO RÁPIDO -->
<div class="section-info-page-green h-quick">
  <div class="logo-header-page">
    <div class="icon-div">
      <img
        src="assets\icons\HazlooRapido\iconohazloorapidosobreverde_1.svg"
        class="icon-info-page-first quick"
      />
    </div>
    <div class="icon-div three">
      <img
        src="assets\icons\HazlooRapido\Logohazloorapidosobreverde_1.svg"
        class="icon-info-page-two quick"
      />
    </div>
  </div>

  <div class="initial-info">
    <div class="information">
      <div class="title"><h3>Ahorra tiempo y dinero</h3></div>
      <div class="information-content">
        <p class="content">
          <span class="paragraph-bg">Genera contenido</span> multimedia para las
          comunicaciones internas o externas de tu proyecto en alta calidad,
          poco tiempo y bajo costo.
        </p>

        <div class="button-info-container two-options">
          <button class="btn btn-call-to-action quick">Hazloo</button>
          <button class="btn btn-more-info quick">Más información</button>
        </div>
      </div>
    </div>

    <div class="initial-images">
      <div class="picture">
        <img src="https://picsum.photos/500/300" class="img-bottom" />
      </div>
      <div class="picture-two">
        <img src="https://picsum.photos/400/200" class="img-top-bottom" />
      </div>
    </div>
  </div>

  <div class="slide-quick">
    <app-slide></app-slide>
  </div>
</div>
<div class="first-separation-top"></div>

<!-- HAZLOO CONSULTORIA -->
<div class="section-info-page-purple">
  <div class="logo-header-page">
    <div class="icon-div">
      <img
        src="assets\icons\HazlooConsultoria\IconoHazlooConsultoriaFondoMorado.svg"
        class="icon-info-page-first consultancy"
      />
    </div>
    <div class="icon-div">
      <img
        src="assets\icons\HazlooConsultoria\LogoHazlooConsultoriaAzul_1.svg"
        class="icon-info-page-two"
      />
    </div>
  </div>

  <div class="section-container">
    <div class="img-container">
      <img src="\assets\images\prueba2.png" alt="" class="wallpaper" />
    </div>
    <div class="initial-info consultancy">
      <div class="information">
        <div class="title"><h3>La comunicación es tu arma secreta</h3></div>
        <div class="information-content">
          <p class="content">
            <span class="paragraph-bg purple">Diseña estrategias</span> de
            impacto donde uses la comunicación como tu principal aliada para
            hacer tu proyecto confiable, veloz e imparable.
          </p>

          <div class="button-info-container two-options">
            <button class="btn btn-call-to-action consultancy">Hazloo</button>
            <button class="btn btn-more-info consultancy">
              Más información
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div><app-partner></app-partner></div>

<div
  class="final-message"
  data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500"
>
  <h2 class="content-message">
    ¿Planeas un gran proyecto? <strong>Simplemente</strong>
  </h2>
  <img src="assets\icons\LogoHazloo_1.svg" class="image-message" />
</div>

<div><app-footer></app-footer></div>
